APP_DEBUG=true
PORT=4000

DATABASE_URL="postgresql://myuser:mypassword@localhosty:5432/mydb"

JWT_SECRET="fhiuehfie7h892y9y28u2e8ue923u9ue28eu923ue8ueoueqoeiui3ue983y984byb982ybc98y4b9yb98ry8924yrc9824yb9r8cy9y84b98y9r27874874987b29ryrr8842by89r2y98ry4y894y89r2cy4829yr98yr9r894yb9rcy2948yb"
JWT_EXPIRES_IN=86400

SMTP_HOST="here.mail.host"
SMTP_PORT="587"
SMTP_USER="noreplay@domain.com"
SMTP_PASSWORD="mypassowrd"


# for sms we use this provider https://afomess.com/. You can learn more there
SMS_SENDER_ID="Sender ID"
SMS_POST_URL=https://afomess.com/v1/rest-api/messages/send
SMS_TOKEN="your token"

# you can specify the url of the frontend here
FRONTEND_URL=http://localhost:3000